.diaporama-image {
  animation: slideIn .5s ease-in
}

.diaporama-image-unmounting {
  animation: slideOut .5s ease-in

}

@keyframes slideIn {
  from {
    margin-left: 100%
  }
  to {
    margin-left: 0
  }
}

@keyframes slideOut {
  from {
    margin-right: 0
  }
  to {
    margin-right: 100%
  }
}
