.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  font-size: 3vw
}

.input-group {
  width: 40%;
  margin: auto;
  height: 40vh
}

.input-group > p{
  margin: 0;
  margin-bottom: 1em
}

.input {
  width: 100%;
  font-size: 3vw;
  box-sizing:border-box;
  margin-bottom: 1em;
}

.error {
  font-size: 2vw;
  padding: .5em 1em;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  transition: opacity .5s linear
}

.AuthConfirm-buttonGroup {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.AuthConfirm-button {
  font-size: 2vw;
  border: 1px solid;
  padding: .5em 1em;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.AuthConfirm-button:first-of-type {
  background-color: rgba(0, 255, 0, .70);
}

.AuthConfirm-button:last-of-type {
  background-color: rgba(255, 0, 0, .70);
}
